  /* <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style> */

body {
    background-color: #1f2748;
}

.nft-card {
    background-color: #252e52;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 400px;
margin: auto;
}

img {
    height: 200px;
    width: 200px;
}